---
---

@import "{{ site.theme }}";

body {
    color: #3D402F;
}

.page-header {
  background-color: #90dfb1;
  background-image: none;
}

h1 {
  text-indent: -9999px;
  position: absolute;
}
.logo {
  width: 80%;
  max-width: 40rem;
}

.main-content {
  h4 {
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
}
