<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#90DFB1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">Storie di terra</h1>
      <img class="logo" src="assets/logo.svg"></img>
        </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <a href="mailto:debbie@storiediterra.it">debbie@storiediterra.it</a>
      </footer>
    </main>
    {% include analytics.html %} 
  </body>
</html>